
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" id="sidebar">

            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">

          <div class="hero-unit">
            <h1>Hey!!</h1>
            <p>Your sprinklers are scheduled to turn on in <span class="text-info">5 hours and 36 minutes</span></p>
            <p><a href="#" class="btn btn-primary btn-large">Delay 24 hours &raquo;</a></p>
          </div>

          <div class="hero-unit">
            <h1>Weather</h1>
            <p>It Looks like there is a <span class="text-info">60% chance of rain</span> today.</p>
            <p><a href="#" class="btn btn-primary btn-large">Delay 24 hours &raquo;</a></p>
          </div>

          <!--/row-->
        </div><!--/span-->
    </div><!--/row-->


		<script type="text/template" id="sidebar-station">
			<%= name %>
			<div class="btn-group pull-right station-status" data-toggle="buttons-radio">
				<button class="btn ss-on">On</button>
				<button class="btn ss-off active">Off</button>
			</div>
		</script>